.container {
  margin: 0 150px;
  color: gray;
}

h3 {
  color: rgb(167, 166, 166);
  border-top: #944959 solid 4px;
  padding-top: 10px;
}

.img {
  width: 50%;
  display: block;
  margin: auto;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
section div {
  width: 40%;
}
