img {
  width: 120px;
}

input {
  padding: 10px 80px;
  margin: 10px;
  border-radius: 5px;
}
button {
  color: white;
  background-color: rgb(96, 95, 95);
  padding: 10px 140px;
}

.create_account {
  padding: 30px;
}

.link {
  color: #eccf3c;
}
